.board {
    display: grid;
    grid-template: repeat(5, 12px) / repeat(5, 12px);
    margin: 10px 10px;
}

.cell, p {
    justify-self: center;
    align-self: center;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;
}