.board {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(5, 100px);
    margin: 10px 10px;
    flex:auto;
    padding: 12px;
    margin-left: 100px;
}

.cell, p {
    justify-self: center;
    align-self: center;
}

p, label {
    color: #164141;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #164141;
    border: none;
    border-radius: 999px;
    background-color: #D6D1B1;
    padding: 10px 15px;
}

.board button {
    min-width: 105px;
    min-height: 105px;
    font-size: 10ch;
    border-radius: 10%;
}

button {
    border: none;
    cursor: pointer;
    background-color: #D6D1B1;
    color: #164141;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ui button {
    border-radius: 999px;
    min-height: 50px;
    font-size: 2ch;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
    background-color: #EEF5DB;
}

.vertical-separator {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.ui {
    margin-right: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}